.navbar {
  background-color: var(--slate);
  height: 10%;
  border-bottom: 2px solid var(--macaroni);

}

.box {
  /* put darkMode here */
  background-color: var(--secondary);
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.in {
  text-align: center;
  display: inline-block;
  color: white !important;
}
.site {
  text-align: center;
  display: inline-block;
  color: var(--macaroni) !important;
}

.inlineDiv {
  display: inline;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}