.box {
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.inlineDiv {
  display: inline;
}

.cardRow {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  overflow: auto;
}
.socialsCard .dark {
  height: 100%;
}

.buttons {
  font-size: 110%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 7vh;
  color: white;
  font-weight: bold;
}

.redditB {
  background-color: var(--reddit);
  border-color: var(--reddit);
}

.redditB:hover {
  background-color: #e63e00;
  border-color: #e63e00;
}

.redditB:focus {
  background-color: var(--reddit);
  border-color: var(--reddit);
}

.redditB:active {
  background-color: var(--reddit);
  border-color: var(--reddit);
}

.twitterB {
  background-color: var(--twitter);
  border-color: var(--twitter);
}

.twitterB:hover {
  background-color: #3798dd;
  border-color: #3798dd;
}

.twitterB:focus {
  background-color: var(--twitter);
  border-color: var(--twitter);
}

.twitterB:active {
  background-color: var(--twitter);
  border-color: var(--twitter);
}

.instagramB {
  background-color: var(--instagram);
  border-color: var(--instagram);
}

.instagramB:hover {
  background-color: #cf3160;
  border-color: #cf3160;
}

.instagramB:focus {
  background-color: var(--instagram);
  border-color: var(--instagram);
}

.instagramB:active {
  background-color: var(--instagram);
  border-color: var(--instagram);
}

.youtubeB {
  background-color: var(--youtube);
  border-color: var(--youtube);
}

.youtubeB:hover {
  background-color: #d40e0e;
  border-color: #d40e0e;
}

.youtubeB:focus {
  background-color: var(--youtube);
  border-color: var(--youtube);
}

.youtubeB:active {
  background-color: var(--youtube);
  border-color: var(--youtube);
}

.centered {
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.refreshButton {
  position: relative;
  margin-right: 0;
  float: right;
  top: -9.5%;
  height: 9.5%;
  padding-right: 10px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 1em;
}
