

.box {
  margin-top: 2%;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.inlineDiv {
  display: inline;
}

.cardRow {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.socialsCard .dark{
  height: 100%;
}

.buttons {
  font-size: 110%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 7vh;
  background-color: var(--reddit);
  color: white;
  font-weight: bold;
  border-color: var(--reddit);
}
.buttons:hover {
  background-color: #e63e00;
  border-color: #e63e00;
}

.buttons:active {
  background-color: var(--reddit);
  border-color: var(--reddit);
}
.buttons:focus {
  background-color: var(--reddit);
  border-color: var(--reddit);
}

.centered {
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
