.box {
  display: flexbox;
  flex-flow: column;
  height: 100vh;
  text-align: center;
  margin-top: 2%;
}

.inlineDiv {
  display: inline;
}

.cardRow {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  padding: 1%;
  height: 80vh;
  border-color: var(--reddit);
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0);
  /* border-width: 0.5vh; */
}

.textCard {
  border-color: var(--primary);
  background-color: rgba(255, 255, 255, 0);
}

.slideshow {
  width: 100%;
  height: 100%;
}

.slideshowCard {
  height: 100%;
}

/* for some reason, using a percent breaks it??? (TODO) */
.chartContainer {
  display: flex;
  height: 60vh;
}

.cloudCentered {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
