.dashboardNav {
  background-color: #3d3d3d;
  margin-bottom: 2%;
  height: 10%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
  background-color: #FF4500;
  text-align: center;
}

.in {
  text-align: center;
  display: inline-block;
  color: white !important;
}
.site {
  text-align: center;
  display: inline-block;
  color: #fed915 !important;
}

.inlineDiv {
  display: inline;
  
}

.cardRow {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  height: 76vh;
  width: 80vw;
  margin-left: 9vw;
}

.slideshow {
  width: 100vw;
  height: 85vh;
}

.chartContainer {
  height: 10vh;
  width: 35vw;
}
