/* html, body {
  height: 100vh;
  min-height: 100vh;
} */




.box {
  display: flexbox;
  flex-flow: column;
  height: 100vh;
  text-align: center;
}

.inlineDiv {
  display: inline;
}

.cardRow {
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  padding: 1%;
  height: 80vh;
  border-color: #FF4500;
  margin-left: 10%;
  margin-right: 10%;
  overflow-y: scroll;
  /* border-width: 0.5vh; */
 
}

.slideshow {
  width: 100%;
  height: 100%;
}

.slideshowCard{
  height: 100%;
}

/* for some reason, using a percent breaks it??? (TODO) */
.chartContainer {
  display: flex;
  height: 60vh;
}

.cloudCentered {
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}