.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.in {
  text-align: center;
  display: inline-block;
  color: white !important;
}
.site {
  text-align: center;
  display: inline-block;
  color: #fed915 !important;
}

.inlineDiv {
  display: inline;
  
}

.cardRow {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

.cardCol {
  height: 50%;
  padding-bottom: 2%;
}

.socialsCard {
  height: 100%;

  
}