name: Deploy Frontend to S3

on:
  push:
    branches:
      # - chris/deploymentTest
      - none

jobs:
  build:
    name: Deploy Frontend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Build React App
        working-directory: ./frontend
        run: npm ci && npm run build

      - name: Deploy app build to S3 bucket
        working-directory: ./frontend
        run: aws s3 sync ./build/ s3://insite-frontend --delete
