name: Deploy to Google App Engine
on:
  push:
    branches:
      - chris/deploymentTest
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

    - id: 'deploy'
      uses: 'google-github-actions/deploy-appengine@v0'
      with:
        working_directory: 'inSite/backend/'

